
.a{
   border: none; 
 
   background-color:hsl(200, 14%, 96%);



}
.a:hover{
    color: hsl(171, 66%, 44%);
}
.bg{
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    
}


footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  

    
    background-color:  hsl(200, 14%, 96%);

}
.big{
    margin:20px;
    width: 100%;  
}
.images{
    margin:20px;
    float: left;
    margin-left: 150px;

}
.but{
    float:left;
    margin-left: 300px;

}
.sv{
    float: left;
    margin-left: 1100px;

    
}


.b {
    text-align: center;
    padding-bottom: 50px;

}
.h{
    text-align: center;
    font-weight: 600px;
    color: hsl(210, 10%, 33%);
     

}
.p{
    text-align: center;
    font-weight: 400px;
    color:hsl(201, 11%, 66%); 
}
.o{
    background-color:hsl(171, 66%, 44%) ;
    border-radius: 30px;
    color: white;
    border: none;
    background-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;


}
.m{
    background-color:hsl(233, 100%, 69%) ;
    border-radius: 200px;
    color: white;
    border:none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    

}


.im{
    margin-left: 650px;
    

}
.div0{
    border: 1px;
}
.div1{
    display: inline-block;
    border: 1px;

}
.div2{
    display: inline-block;
    margin:left;
    border: 1px;
    margin-top: 40px;
    margin-left: 100px;

}
.d{
    font-weight: 600px;
    color: hsl(210, 10%, 33%); 
}
.e{
    font-weight: 400px;
    color:hsl(201, 11%, 66%);  
}
 

.z{
    margin-left: 350px;
}
.wageh{
    width: 400px; 
    float:left;
    height:200px;
    margin:20px;
    text-align: center;
    margin-left: 100px;
}
.mohamed{
    width: 400px; 
    float:left;
    height:200px;
     margin:20px;
    text-align: center; 
}

.sallam{
    width: 400px; 
    float:left;
    height:200px;
     margin:20px;
    text-align: center; 
}
.manar h1{
    font-weight: 600px;
    color: hsl(210, 10%, 33%);
}
.manar p{
    font-weight: 400px;
    color:hsl(201, 11%, 66%); 
}
.manar{
    
    height:200px;
     margin:20px;
}
.photo{
    height:100px;
    margin:20px;
    width: 1440px;

}
.google{
    float:left;   margin:20px;
    margin-left: 130px;
    margin-right: 50px;

}
.ibm{
     float:left;   margin:20px;
     margin-left: 50px;
    margin-right: 50px;
    
}
.microsoft{
     float:left;  margin:20px;
     margin-left: 50px;
     margin-right: 50px;
}
.hp{ float:left;  margin:20px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.vector{
     float:left;   margin:20px;
     margin-left: 50px;
     margin-right: 100px;
    
}
.j{
    text-align: center;
}

@media (max-width : 375px)  {
    .body{
        display: block;
    }
    
    .bg{
        background-image: url(images/bg-header-mobile.png);
        background-size: cover;
        display: block;
        width: 375px;
        
    }
    
   .im{
        margin-left: 100px;
    


    }
    .b{
        display: block;
    
    }
    .h{
        text-align: center;
        font-weight: 200px;
        color: hsl(210, 10%, 33%);
     

    }
    .p{
        text-align: center;
        font-weight: 100px;
        color:hsl(201, 11%, 66%); 


    }  
    .q{
        width: 375px;
        display: block;
    }
    .div0{
        border: 1px;
        display: block;
        width: 370px;
    }
    .div1{
        display: block;
        border: 1px;
        margin-left: 50px;
    
    }
    .div2{
       
        width: 370px;
        display: block;
        margin-left: 80px;
       

    }
    .k{
        width: 250px;
    }
    .z{
        width: 250px; 
        margin-left: 50px;
    }
    .wageh{
        width: 375px; 
        float:left;
        height:200px;
        margin: 20px;
        text-align: center;
       
    }
    .mohamed{
        text-align: center;
        width: 375px;
    }
    .sallam{
        text-align: center;
        width: 375px;
    }
    .google{
        margin:20px;
        text-align: center;
        display: block;

        
    
    }
    .photo{
        width: 375px;
        display: block;
        
    }
    
    .but{
        display: block;
        margin-left: 50px;
    
    }
    .sv{
       display: block;
        margin-left: 50px;
        padding-top: 30px;
        
        
    }
    .j{
        width: 375px;
        margin-left: 150px;
        margin: bottom;

    }


}


    
    

  