.big{
    display: flex;
    
}
span{
    display: flex;
}


.first{
    background-color:white;
    margin-left: 300px;
    margin-right: 150px;
    margin-top: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 800px;
    border-radius: 10px 10px 0px 0px;
   
}
.second{
    background-color: hsl(179, 48%, 43%);
    margin-left: 300px;
    
    line-height: 20px;
    border-radius: 0px 0px 0px 10px;
    width: 355px;
    
    
}
.third{
    background-color: hsl(179, 62%, 43%) ;
    margin-right: 150px;
   
    width: 445px;
    line-height: 20px;
    border-radius: 0px 0px 10px 0px;
}

#a{
    color:  hsl(179, 62%, 43%);
    margin-left: 40px;


}
#b{
    color: hsl(71, 73%, 54%);
    margin-left: 40px;
}
#c{
    color:hsl(218, 22%, 67%);

   margin-left: 40px;
   
    
}
.x{
    color: white;
    margin-left: 40px;
    padding-top: 50px;
}
.y{
    color: white;
    margin-left: 40px;
}
.z{
    color: hsl(222, 10%, 80%);
    margin-left: 40px;
}
.m{
  
    color:hsl(204, 43%, 93%);
    margin-left: 40px;

}
button{
    background-color: hsl(71, 73%, 54%) ;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 40px;
    margin-bottom: 40px;
    
}
.g{
    color: white;
    margin-left: 40px;
    padding-top: 50px;
}
.h{
    color: hsl(204, 43%, 93%);
    margin-left: 40px;
}
body{
    background-color:hsl(204, 43%, 93%);
}
@media (max-width : 375px){
    .big1{
        display: block;


    }
    .first{
        background-color:white;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        width: 320px;
        padding-bottom: 10px;
        border-radius: 10px 10px 0px 0px;
        line-height: 30px;
    
    }
    .second{
        background-color: hsl(179, 48%, 43%); 
        line-height: 20px;
        width: 320px;
        margin-left: 20px;
        margin-right: 100px;
        padding-bottom: 10px;
        border-radius: 0px;
        padding-top: 10px;
        
       
    }
    .third{
        background-color: hsl(179, 62%, 43%) ;
        width: 320px;
        line-height: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
        border-radius: 0px 0px 10px 10px;
        padding-top: 10px;
       
    }
    .big{
        display: block;
        
    }
    .z{
        color: hsl(222, 10%, 80%);
        margin-left: 40px;
    }

}