.flex-container {
   text-align: center;
   
   background-color: hsl(0, 0%, 100%);
   margin-right: 590px;
   margin-left: 670px;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 200px;
padding-bottom: 10px;

   border-radius: 10px;
   
  }





body{
    background-color:hsl(220, 15%, 55%);
    
    display: block;
}
.b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    
}
.c{
    border-radius: 10px;
}
.d{
    font-size: small;
    color: hsl(212, 45%, 89%);
}